:root {
    /* Colors */
    --violet: hsl(257, 40%, 49%);
    --softMagenta: hsl(300, 69%, 71%);

    /* Fonts */
    --headingsFont: "Poppins", sans-serif;
    --bodyFont: "Open Sans", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::after,*::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--bodyFont);
    background-color: var(--violet);
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 2rem 3rem;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 76.8rem) {
    body {
        background-size: cover;
        padding: 4.5rem 6rem;
        background-image: url(/images/bg-desktop.svg);
    }
}

.container {
    margin: 0 auto;
    max-width: 130rem;
}

.logo {
    max-width: 12rem;
}
@media (min-width: 48rem) {
    .logo {
        max-width: 22rem;
    }
}

/* Grid */
.grid {
    display: grid;
    gap: 2rem;
    margin-top: 6rem;
    text-align: center;
    justify-content: center;
}
@media (min-width: 76.8rem) {
    .grid {
        /* grid-template-columns: 60% auto; */
        grid-template-columns: 3fr 2fr;
        /* grid-template-columns: 60% 40%; */
        justify-content: center;
        text-align: left;
        margin-top: 8rem;
    }
}

.grid__image {
    max-width: 100%;
}

/* .grid__content {
    padding: 2rem;
    margin-top: 2rem;
} */

.grid__title {
    font-family: var(--headingsFont);
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
    margin-top: 4.5rem;
}
@media (min-width: 76.8rem) {
    .grid__title {
        font-size: 4rem;
    }
}

.grid__description {
    font-family: var(--bodyFont);
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    margin-top: 2rem;
}
@media (min-width: 76.8rem) {
    .grid__description {
        font-size: 1.8rem;
    }
}


.grid__btn {
    display: inline-block;
    text-decoration: none;
    font-family: var(--bodyFont);
    font-size: 1.4rem;
    background-color: white;
    border-radius: 6rem;
    padding: 1rem 6rem;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.grid__btn:hover {
    background-color: var(--softMagenta);
    color: white;
}
@media (min-width: 76.8rem) {
    .grid__btn {
        font-size: 1.8rem;
        padding: 1.5rem 6.5rem;
    }
}

.icons {
    text-align: center;
    margin-top: 6rem;
}
@media (min-width: 76.8rem) {
    .icons {
        text-align: right;
        margin-top: 2rem;
    }
}

.icon {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 3rem;
    padding: .5rem;
    margin-left: 1rem;
}
.icon:hover {
    fill: var(--softMagenta);
}

@media (min-width: 76.8rem) {
    .icon {
        width: 4rem;
        height: 4rem;
        padding: 1rem;
    }
}

.attribution { font-size: 1.1rem; text-align: center; margin-top: 4rem;}
.attribution a { color: var(--softMagenta); }